name: Publish Release

on:
    push:
        tags:
            - "v*"

jobs:
    goreleaser:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: actions/setup-go@v5
              with:
                  go-version: stable

            - name: Run GoReleaser
              uses: goreleaser/goreleaser-action@v5
              with:
                  distribution: goreleaser
                  version: latest
                  args: release --clean
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
